@import "variables";
@import "breakpoints";
@import "header";
@import "entry";
@import "todolist";

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
  width: 100%;
}
